services:
  # ------------------
  # Web Service
  # ------------------
  - type: web
    name: app
    env: docker
    plan: free
    healthCheckPath: /api/v1/health
    # 1. The Migration & Seed Command (Runs ONCE before deployment) (PAID render Feature)
    # Uncomment this only if you have paid render subscription
    #preDeployCommand: "sh -c 'npx prisma migrate deploy && npm run seed:prod'"

    # 2. The Actual Start Command (Runs on EVERY replica)  (PAID render Feature)
    # Since we moved the logic to preDeploy, we can revert to the simple start.
    # Note: For Docker, this usually overrides the CMD in the Dockerfile.
    # Uncomment this only if you have paid render subscription
    #dockerCommand: "node dist/server.js"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: db
          property: connectionString
      - key: REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production

  # ------------------
  # Redis Service
  # ------------------
  - type: redis
    name: redis
    plan: free
    # Fix: Explicitly disallow public access
    ipAllowList: []

databases:
  # ------------------
  # PostgreSQL Database
  # ------------------
  - name: db
    plan: free
    databaseName: myapp_db
    user: admin
    postgresMajorVersion: 16